@import "compass/reset"

body
  height: 100%
  width: 100%
  background-color: white
  position: absolute
  bottom: 0
  top: 0

#game_viewer
  background-color: white

#game_viewer:-webkit-full-screen
  background-color: white

  canvas
    background-color: white

  video
    opacity: 0.1

video, canvas
  position: absolute
  top: 0
  left: 0

video
  z-index: 4
  opacity: 0.1
  width: 20%
  height: auto
  transform: scale(5)
  transform-origin: top left

canvas
  z-index: 5
  height: 100%
  width: 100%
